@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  zoom: 130%;
}

:root {
  --color-primary: #ff0000;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-white-2: #fbfbfb;
  --color-gray: #f3f3f3;

  --font-primary: "Montserrat", sans-serif;
}

body {
  background-color: var(--color-white-2);
}
